@charset "UTF-8";
.accordion-button {
  background: rgba(19, 19, 19, 0.6);
  color: white;
}

@media (min-width: 992px) {
  .navbar-dark .navbar-nav {
    text-align: center;
  }
  .navbar-dark .navbar-nav .nav-link {
    color: white;
    opacity: 100%;
  }
  .Header_numb_tel {
    padding: 16px 30px 15px 30px;
    border-radius: 50px;
    text-align: center;
    margin: 0px 0px 0px 0px;
  }
  .CardImg {
    border-radius: 20px;
    -webkit-box-shadow: 0 -2px 10px #2f3640;
            box-shadow: 0 -2px 10px #2f3640;
    height: 15.3rem;
  }
  .title {
    position: absolute;
    width: 100%;
    top: 45%;
    /* Отступ сверху */
    color: white;
    /* Цвет заголовка */
    z-index: 1;
    -webkit-transition: top .5s ease;
    transition: top .5s ease;
  }
  .CardSetting:hover .title {
    top: -30%;
    /* Отступ сверху при наведении */
  }
  .CardSetting {
    background: transparent;
    border: none;
  }
  .card-img-overlay {
    top: auto;
    border-radius: 20px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(19.1%, rgba(0, 0, 0, 0.75)), to(rgba(196, 196, 196, 0)));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 19.1%, rgba(196, 196, 196, 0) 100%);
  }
  .CardSetting:hover .card-img-overlay {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(14.29%, #000000), to(rgba(196, 196, 196, 0)));
    background: linear-gradient(0deg, #000000 14.29%, rgba(196, 196, 196, 0) 100%);
  }
  .btnCard {
    border-radius: 50px;
    background-color: #FC712B;
    color: #000000;
    border-color: #FC712B;
    opacity: 0;
    -webkit-transition: opacity .35s ease;
    transition: opacity .35s ease;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .CardSetting:hover .btnCard {
    opacity: 1;
  }
  .btnCard:hover {
    background-color: #FF5500;
    border-color: #FF5500;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

@media (max-width: 992px) {
  .navbar-dark .navbar-nav {
    text-align: center;
    margin: 30px 0px 20px 0px;
  }
  .navbar-dark .navbar-nav .nav-link {
    font-size: x-large;
    color: white;
    opacity: 100%;
  }
  .Header_numb_tel {
    padding: 16px 30px 15px 30px;
    border-radius: 50px;
    text-align: center;
    margin: 30px 0px 20px 0px;
  }
  .btnCard {
    border-radius: 50px;
    background-color: #FC712B;
    color: #000000;
    border-color: #FC712B;
    -webkit-transition: opacity .35s ease;
    transition: opacity .35s ease;
  }
  .btnCard:hover {
    background-color: #FF5500;
  }
  .CardImg {
    border-radius: 20px;
    -webkit-box-shadow: 0 -2px 10px #2f3640;
            box-shadow: 0 -2px 10px #2f3640;
  }
  .CardSetting {
    background: transparent;
    border: none;
  }
  .card-img-overlay {
    top: auto;
    border-radius: 20px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(19.1%, rgba(0, 0, 0, 0.75)), to(rgba(196, 196, 196, 0)));
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 19.1%, rgba(196, 196, 196, 0) 100%);
  }
}
/*# sourceMappingURL=App.css.map */