//header медиа перенастройка навбара из стандартного bootstrap...

@mixin ColorOp-ty {
    color: white;
    opacity: 100%;
}
@mixin pad-g {
    padding: 16px 30px 15px 30px;
}

.accordion-button{
    background: rgba(19, 19, 19, 0.6);
    color: white;
}

//desctop
@media (min-width: 992px){
    .navbar-dark {
        .navbar-nav{
            text-align: center;
            .nav-link{
                @include  ColorOp-ty;
            }
        }
    }
    .Header_numb_tel{
        @include pad-g;
        border-radius: 50px;
        text-align: center;
        margin: 0px 0px 0px 0px;
    }
    .CardImg{
        border-radius: 20px;
        box-shadow: 0 -2px 10px #2f3640;
        height: 15.3rem;
    }
    
    
    .title{
        position: absolute;
        width: 100%;
        top: 45%; /* Отступ сверху */
        color: white; /* Цвет заголовка */
        z-index: 1;
        transition: top .5s ease;
    }
    .CardSetting:hover .title {
        top: -30%; /* Отступ сверху при наведении */
    }
    .CardSetting{
        background: transparent;
        border: none;
    }
    .card-img-overlay {
        top: auto;
        border-radius: 20px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 19.1%, rgba(196, 196, 196, 0) 100%);
    }
    .CardSetting:hover .card-img-overlay{
        background: linear-gradient(0deg, #000000 14.29%, rgba(196, 196, 196, 0) 100%);
    }
    .btnCard{
        background-color: #FC712B;
        color: #000000;
        border-color: #FC712B;
        opacity: 0;
        transition: opacity .35s ease;
        transition: 0.4s;
    }
    .CardSetting:hover .btnCard{
        opacity: 1;
    }
    .btnCard:hover{
        background-color: #FF5500;
        border-color: #FF5500;
        transition: 0.4s;
    }
}

//mobile
@media (max-width: 992px){
    .navbar-dark {
        .navbar-nav{
            text-align: center;
            margin: 30px 0px 20px 0px;
            .nav-link{
                font-size: x-large;
                @include  ColorOp-ty;
            }
        }
    }
    .Header_numb_tel{
        @include pad-g;
        border-radius: 50px;
        text-align: center;
        margin: 30px 0px 20px 0px;
    }
    .btnCard{
        background-color: #FC712B;
        color: #000000;
        border-color: #FC712B;
        transition: opacity .35s ease;
    }
    .btnCard:hover{
        background-color: #FF5500;
    }
    .CardImg{
        border-radius: 20px;
        box-shadow: 0 -2px 10px #2f3640;
    }
    .CardSetting{
        background: transparent;
        border: none;
    }
    .card-img-overlay {
        top: auto;
        border-radius: 20px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 19.1%, rgba(196, 196, 196, 0) 100%);
    }
}



    


