//header медиа перенастройка навбара из стандартного bootstrap...

@mixin ColorOp-ty {
    color: white;
    opacity: 100%;
}
@mixin pad-g {
    padding: 16px 30px 15px 30px;
}

.accordion-button{
    background: rgba(19, 19, 19, 0.6);
    color: white;
}

//desctop
@media (min-width: 992px){
    .navbar-dark {
        .navbar-nav{
            text-align: center;
            .nav-link{
                @include  ColorOp-ty;
            }
        }
    }
    .Header_numb_tel{
        @include pad-g;
        border-radius: 50px;
        text-align: center;
        margin: 0px 0px 0px 0px;
    }
    .CardImg{
        border-radius: 20px;
        box-shadow: 0 -2px 10px #2f3640;
        height: 17.4rem;
    }
    
    
    .title{
        position: absolute;
        width: 100%;
        top: 45%; /* Отступ сверху */
        color: white; /* Цвет заголовка */
        z-index: 1;
        transition: top .5s ease;
    }
    .CardSetting:hover .title {
        top: -30%; /* Отступ сверху при наведении */
    }
    .CardSetting{
        background: transparent;
        border: none;
    }
    .card-img-overlay {
        top: auto;
        border-radius: 20px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 19.1%, rgba(196, 196, 196, 0) 100%);
    }
    .CardSetting:hover .card-img-overlay{
        background: linear-gradient(0deg, #000000 14.29%, rgba(196, 196, 196, 0) 100%);
    }
    .btnCard{
        border-radius: 50px;
        background-color: #FC712B;
        color: #000000;
        border-color: #FC712B;
        opacity: 0;
        transition: opacity .35s ease;
        transition: 0.4s;
    }
    .CardSetting:hover .btnCard{
        opacity: 1;
    }
    .btnCard:hover{
        background-color: #FF5500;
        border-color: #FF5500;
        transition: 0.4s;
    }
}

//mobile
@media (max-width: 992px){
    .navbar-dark {
        .navbar-nav{
            text-align: center;
            margin: 30px 0px 20px 0px;
            .nav-link{
                font-size: x-large;
                @include  ColorOp-ty;
            }
        }
    }
    .Header_numb_tel{
        @include pad-g;
        border-radius: 50px;
        text-align: center;
        margin: 30px 0px 20px 0px;
    }
    .btnCard{
        border-radius: 50px;
        background-color: #FC712B;
        color: #000000;
        border-color: #FC712B;
        transition: opacity .35s ease;
    }
    .btnCard:hover{
        background-color: #FF5500;
    }
    .CardImg{
        border-radius: 20px;
        box-shadow: 0 -2px 10px #2f3640;
    }
    .CardSetting{
        background: transparent;
        border: none;
    }
    .card-img-overlay {
        top: auto;
        border-radius: 20px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 19.1%, rgba(196, 196, 196, 0) 100%);
    }
}



    
::-webkit-scrollbar {
width: 10px;
}
::-webkit-scrollbar-track {
-webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
background-color: #FD9319;

}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(115.95deg, #2B8180 0%, #FC712B 99.52%);
    border: #000000  solid 2px;
}
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

